@mixin slide-keyframes($number, $colour) {
  @keyframes slide-anim#{$number} {
    0% { margin-left: 10px;}
    92% { background-color: #{$colour};
      margin-left: 267px;}
    93% {
      background-color: #ffffff;
      margin-left: 270px;
    }
    100% {
      background-color: #ffffff;
      margin-left: 300px;
    }
  }
}

@mixin slider($number) {
  .slider-anim-#{$number} {
    animation-name: slide-anim#{$number};
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
}

@mixin track($number) {
  .track#{$number} {
    position: absolute;
    top: (273px - ($number * 40px))
  }
}

@mixin line($number) {
  .line#{$number} {
    top: (280px - ($number * 40px))
  }
}

$colors: #0074d9, #d83439, #38b439, #e9cd54, #811ed1, #e66224, #e041ab;

@for $i from 1 through length($colors) {
  @include track($i);
  @include line($i);
  @include slider($i);
  @include slide-keyframes($i, nth($colors, $i));
  .color#{$i} { background-color: nth($colors, $i); }
}

.slider {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: inline-block;
  box-shadow: 10px -5px #0e254b;
}

.line {
  position: absolute;
  left: 10px;
  width: 300px;
  height: 0px;
  border: 2px solid #999999;
  z-index: -1;
  box-shadow: 10px -5px #0e254b;
}

.shape {
  margin-bottom: 30px;
}

.outermost {
  left: 120px;
  transform-style: preserve-3d;
  transform: rotateZ(90deg);
  position: absolute;
  perspective: 0px;
  height: 300px;
  width: 315px;
}

.outer1 {
  transform-style: preserve-3d;
  transform: translateX(100px) translateY(-100px) rotateZ(90deg);
  transform-origin: 12% 50%;
  height: 280px;
}