body {
    margin:     0px;
    padding:    0px;
}

th {
    text-align: left;
}

.header {
    background-color: black;
    font-family: Arial;
    font-size:   20pt;
    padding:     5px;
    color:       white;
}

.body {
    font-family: Arial;
    font-size:   20pt;
    padding:     0px;
    margin:      0px;
}

.pane {
    border: 0px solid black;
    padding: 0px;
    margin: 0px;
    font-size: 16pt;
    box-shadow: 0px 0px 2px rgba(0,0,0,1) inset;
}

.pane-header {
    background-color: black;
    color: white;
    padding: 5px;
}

.pane-body {
    padding: 5px;
    overflow: scroll;
}

.conductor-pane {
    float: left;
    width: 40vw;
    height: 30vh;
}

.song-pane {
    float: left;
    width: 40vw;
    height: 30vh;
}

.player-pane {
    float: right;
    width: 60vw;
    height: 60vh;
}

.status-pane {
    clear: both;
    width: 100%;
    height: 40vh;
}
