@keyframes slide-anim1 {
  0% { margin-left: 10px;}
  92% { background-color: #0074d9;
    margin-left: 267px;}
  93% {
    background-color: #ffffff;
    margin-left: 270px;
  }
  100% {
    background-color: #ffffff;
    margin-left: 300px;
  }
}

@keyframes slide-anim2 {
  0% {
    margin-left: 10px;
  }
  92% {
    background-color: #d83439;
    margin-left: 267px;
  }
  93% {
    background-color: #ffffff;
    margin-left: 270px;
  }
  100% {
    background-color: #ffffff;
    margin-left: 300px;
  }
}

@keyframes slide-anim3 {
  0% {
    margin-left: 10px;
  }
  92% {
    background-color: #38b439;
    margin-left: 267px;
  }
  93% {
    background-color: #ffffff;
    margin-left: 270px;
  }
  100% {
    background-color: #ffffff;
    margin-left: 300px;
  }
}

@keyframes slide-anim4 {
  0% {
    margin-left: 10px;
  }
  92% {
    background-color: #e9cd54;
    margin-left: 267px;
  }
  93% {
    background-color: #ffffff;
    margin-left: 270px;
  }
  100% {
    background-color: #ffffff;
    margin-left: 300px;
  }
}

@keyframes slide-anim5 {
  0% {
    margin-left: 10px;
  }
  92% {
    background-color: #811ed1;
    margin-left: 267px;
  }
  93% {
    background-color: #ffffff;
    margin-left: 270px;
  }
  100% {
    background-color: #ffffff;
    margin-left: 300px;
  }
}

@keyframes slide-anim6 {
  0% {
    margin-left: 10px;
  }
  92% {
    background-color: #e66224;
    margin-left: 267px;
  }
  93% {
    background-color: #ffffff;
    margin-left: 270px;
  }
  100% {
    background-color: #ffffff;
    margin-left: 300px;
  }
}

@keyframes slide-anim7 {
  0% {
    margin-left: 10px;
  }
  92% {
    background-color: #e041ab;
    margin-left: 267px;
  }
  93% {
    background-color: #ffffff;
    margin-left: 270px;
  }
  100% {
    background-color: #ffffff;
    margin-left: 300px;
  }
}

.slider {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: inline-block;
  box-shadow: 10px -5px #0e254b;
}

.slider-anim-1 {
  animation-name: slide-anim1;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.slider-anim-2 {
  animation-name: slide-anim2;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.slider-anim-3 {
  animation-name: slide-anim3;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.slider-anim-4 {
  animation-name: slide-anim4;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.slider-anim-5 {
  animation-name: slide-anim5;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.slider-anim-6 {
  animation-name: slide-anim6;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.slider-anim-7 {
  animation-name: slide-anim7;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.color1 {
  background-color: #0074d9;
}

.color2 {
  background-color: #d83439;
}

.color3 {
  background-color: #38b439;
}

.color4 {
  background-color: #e9cd54;
}

.color5 {
  background-color: #811ed1;
}

.color6 {
  background-color: #e66224;
}

.color7 {
  background-color: #e041ab;
}

.shape {
  margin-bottom: 30px;
}

.track1 {
  position: absolute;
  top: 233px;
}

.track2 {
  position: absolute;
  top: 193px;
}

.track3 {
  position: absolute;
  top: 153px;
}

.track4 {
  position: absolute;
  top: 113px;
}

.track5 {
  position: absolute;
  top: 73px;
}

.track6 {
  position: absolute;
  top: 33px;
}

.track7 {
  position: absolute;
  top: -7px;
}

.line {
  position: absolute;
  left: 10px;
  width: 300px;
  height: 0px;
  border: 2px solid #999999;
  z-index: -1;
  box-shadow: 10px -5px #0e254b;
}

.line7 {
  top: 0px;
}

.line6 {
  top: 40px;
}

.line5 {
  top: 80px;
}

.line4 {
  top: 120px;
}

.line3 {
  top: 160px;
}

.line2 {
  top: 200px;
}

.line1 {
  top: 240px;
}

body,
html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

body {
  /*background-color: #93c3d6;*/
  background-image: url("../assets/background2.png");
  z-index: -99;
  justify-content: left;
  align-items: center;
}

.outermost {
  left: 120px;
  transform-style: preserve-3d;
  position: absolute;
  perspective: 500px;
  height: 300px;
  width: 315px;
}

.outer1 {
  transform-style: preserve-3d;
  transform: translateX(100px) translateY(-100px) rotateZ(90deg) rotateY(-63deg);
  transform-origin: 12% 50%;
  height: 280px;
}

div#buttons {
  height: 50px;
  transform: translateY(-285px);
}

.my-button {
  position: absolute;
  top: 200px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 5px 10px #0e254b;
  border-color: rgb(95, 102, 102);
  border-width: 2px;
  outline: none;
}

.my-button:hover {
  transform: translateX(-1px) translateY(-1px);
}

.my-button:active {
  transform: translateX(1px) translateY(1px);
  outline: none;
}

.button1 {
  left: -103px;
}
.button2 {
  left: -25px;
}
.button3 {
  left: 54px;
}
.button4 {
  left: 133px;
}
.button5 {
  left: 212px;
}
.button6 {
  left: 292px;
}
.button7 {
  left: 371px;
}

.heading {
  color: #CCCCCC;
  position: absolute;
  left: 165px;
  top: -5px;
}

// Change the modal padding to make it smaller
.modal-footer {
  padding: 5px;
}

.modal-body {
  padding: 5px;
}

.modal-content {
  z-index: 9999;
}

#score1 {
  position: absolute;
  left: 380px;
  top: 30px;
  color: #CCCCCC;
}

#score {
    position: absolute;
    color: white;
    left: 333px;
    top: 11px;
    padding: 0px;
    font-size: 60%;
}

#score td {
    padding-left: 8px;
}

#instruments {
    position: absolute;
    color: white;
    left: 15px;
    top: 11px;
    padding: 0px;
    font-size: 60%;
}

.instrument-select {
    font-size: 75%;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #0073d9;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.8);
}

.instrument-select:hover {
    font-size: 75%;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #6699e9;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.8);
}

.instrument-select span {
    margin: 6px;
}

#countdown {
  position: absolute;
  color: white;
  left: 140px;
  top: -20px;
  padding: 0px;
  font-size: 800%;
  transform: rotateZ(-90deg);
}
